.title {
  color: #02ccba;
}
body {
  font-family: "Avenir Next";
}

.header {
 background-color: #00bfff;
 height:200px;
}
.header-logo{
 font-size: 50px;
 float:left;
}

li {
  list-style: none;
  float:left;
  color: #ffffff;
  margin: 10px;
}

.main-container{
  height:1200px;
  background-color: #f0f8ff;
}
.footer{
  background-color: #87cefa;
  height:100px;
}
